* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  background: black;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

nav {
  align-self: center;
  list-style-type: none;
  display: flex;
  gap: 200px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  transition: all 0.3s linear;
  &:hover {
    color: green;
  }
}

.logo {
  border-radius: 20px;
}

.about-div {
  margin-top: 20px;
  border: 1px solid black;
  background-color: lightgreen;
}
