* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.navbar {
  background: black;
  padding: 0.5rem 1rem;
  margin: auto;
  max-width: 1700px;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

nav {
  align-self: center;
  list-style-type: none;
  display: flex;
  gap: 200px;
}

.nav-link {
  color: #fff !important;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  transition: all 0.3s linear;
  &:hover {
    color: green;
  }
}

.logo {
  border-radius: 20px;
}

.about-div {
  margin-top: 20px;
  border: 1px solid black;
  background-color: lightgreen;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: block;
    height: 150px;
  }
  nav {
    display: inline-block;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    display: inline-block;
    height: 150px;
  }
  nav {
    display: inline-block;
  }
}
